.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

textarea {
  height: 200px;
}
